<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<table>
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>

    </tr>
    <tr th:each="voting : ${votings}">
        <td><a th:href="@{/votings/{id}(id=${voting.id})}" th:text="${voting.name}"></a></td>
        <td th:text="${voting.description}"></td>
        <td>
            <form th:action="@{/votings/delete/{id}(id=${voting.id})}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">Видалити</button>
            </form>
        </td>
    </tr>
</table>

<p>Create</p>
<form th:action="@{/votings}" method="post">
    <input type="text" name="name">
    <input type="text" name="description">
    <button type="submit">Створити голосування</button>
</form>


</body>
</html>