<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
<section class="register">
    <h1 class="register__title">
        Register
    </h1>
    <div class="container">

        <form th:action="@{/register}" class="register__form" method="post">
            <div class="register__form-name">
                <input type="text" id="name" name="name" class="register__form-input" required placeholder="Username">
            </div>

            <div class="register__password">
                <input type="password" id="password" name="password" class="register__form-input" required placeholder="Password">
            </div>
            <div class="register__submit">
                <button class="register__form-btn">Register</button>
            </div>

        </form>
    </div>
</section>

</body>
</html>
