<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${voting.name}"></title>
</head>
<body>
<p th:text="${voting.description}"></p>
<div th:text="${voting.createdPretendants}"></div>

<p>Update</p>
<form th:action="@{/votings/update/{id}(id=${voting.id})}" method="post">
  <input type="hidden" name="_method" value="put" />
  <input type="text" name="name">
  <input type="text" name="description">
  <button type="submit">Створити голосування</button>
</form>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>DESCRIPTION</th>
  </tr>
  <tr th:each="pretendant : ${pretendants}">
    <td th:text="${pretendant.id}"></td>
    <td th:text="${pretendant.name}"></td>
    <td th:text="${pretendant.description}"></td>
    <td>
      <form th:action="@{/pretendants/delete/{id}(id=${pretendant.id})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" name="votingId" th:value="${voting.id}">
        <button type="submit">Видалити</button>
      </form>
    </td>
  </tr>
</table>


<p>Create pretendant</p>
<form th:action="@{/pretendants}" method="post">
  <input type="hidden" name="votingId" th:value="${voting.id}">
  <input type="text" name="name">
  <input type="text" name="description">
  <button type="submit">Створити претендента</button>
</form>
</body>
</html>